*{padding:0;margin:0;box-sizing:border-box}

a {
    text-decoration: none;
    color: #fff
}

@font-face {
    font-family: Undertale;
    src: url(../fonts/Undertale-Battle-Font.ttf);
}

body {
    background-color: #FBFBFB;
    color: #fff;
    font-family: Undertale, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


